@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(to left bottom, #944572, #85394b, #6c332e, #502e1a, #362710, #322d18, #303322, #30372c, #454e46, #5c6762, #767f7e, #939999);
  background-repeat: no-repeat;
}

body {
  padding: 0 0 0 25px;
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90px;
  padding: 0 40px;
  font-size: 28px;
}

header .logo {
  font-weight: 700;
}

header .menu ul {
  display: flex;
}

header .menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu li a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

.menu-btn {
  background: rgba(255, 255, 255, .3);
  padding: 15px 15px;
  border-radius: 20px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
color: rgb(255, 251, 251);
}

.name-title {
  padding: 50px 0;
  font-size: 55px;
  font-weight: bold;
  line-height: 1.rem;
  margin: 0 auto;
  color: white;
}

.border {
  background-color: rgba(128, 128, 128, 0.476);
  padding: 0 0 10px 0;
  border-radius: 5px 5px 0 0;
}

.bio {
  padding: 50px 150px 50px 150px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 0 0 5px 5px;
  
}

.button-section{
  display: flex;
  text-align: center;
  padding: 5px;
}
.button{
  background: rgba(255, 255, 255, .3);
  padding: 15px 15px;
  border-radius: 20px;
  /* width: 160px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:black;
  margin:5px
}
.bio-pic {
  width: 350px;
  border-radius: 10px;
  padding: 0 20px 0 0;
}

.project_section {
  padding: 15px 0 0 0;
  width: 80%;
  margin: 0 auto;
}

.project {
  text-align: left;
  display: flex;
  padding-top: 20px;
}

.project.second .project_preview{
  order: 1;
}
.project_preview{
  padding-right: 2rem;
}

.skills{
  line-height: 1.2;
  letter-spacing: .259rem;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 50px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*  */
}
.skills p{
  font-weight: bold;
  font-size: 36px;
}
.skill-box{
  display: flex;
}
.skill{
  padding: 5px;
}

.skill_img img{
  width: 100px;
  /* object-fit: contain; */
}